body {
    background-color:rgba(39, 88, 248, 0.61) ;
}

img {
    width: auto;
    height: auto;
}
h1 {
    color: rgb(255, 0, 0)61, 161);
    text-align: center;
}
p {
    font-family: monospace;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }