body {
    background-color:rgba(39, 88, 248, 0.945) ;
}

#logo {
    float: left;
    width: 96px;
    height: 211px; 
    padding-top: 65px;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    size: 500%;
}
p {
    font-family: monospace;
}
#meny a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    color:black;
  }
  
  a:hover, a:active {
    background-color: red;
  }
#meny {
    list-style-type: none;
    height: 211px;
    
}